@media screen and (max-width: 620px){
    .container-div{
        width: 90%;
    }
    h2{
        font-size: 16px;
    }
    input{
        width: 100% !important;
    }
    .btnSubmit{
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 728px){
    .container-div{
        width: 70%;
    }
}


/* // const submit = document.createElement('button')

    // let storeUpdate = ''//holder of the new data of input
    // submit.style.width = '100%'
    // submit.innerHTML = 'update'
    // submit.style.padding = '8px 10px'
    // // submit.type = 'button'
    // submit.setAttribute('id', 'submitButton')
    // input.appendChild(submit)
    // submit.onclick = () => {
    //     const newc = props.parentNode.parentNode.children[0]

    //     // const newTableVal = document.createTextNode(storeUpdate)

    //     // updateThisCell.replaceChildren(newTableVal)//replace the old value and hide the update elements
    //     // console.log(updateThisCell)
    //     // console.log(storeUpdate)
    // } */