<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in System</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        #button{
            background-color: transparent !important;
            border: none;
            font-size: 22px;
            font-weight: 600;
            color: white;
        }
        #button:hover{
            color: blue;
            cursor: pointer;
        }
        input{
            filter: drop-shadow(8px 8px 4px black);
        }
        input:focus{
            outline: none;
        }
    </style>
</head>
<body>
    <div class="w3-gray w3-card-4"  style=" border-radius: 5%;margin: auto; margin-top: 10%; width: 400px;">
        <div class="w3-container w3-card-4 w3-blue w3-center" style="height: 15vh !important">
            <h3 style="padding-top: 5%; color: white;font-weight: 700; font-size: 30px;">Login</h3>
        </div>
        <div class="w3-container" style="padding-bottom: 5%; margin: auto;" id="parent"><br>
            <p id="error"></p>
            <input type="text" placeholder="username" id="username" class="w3-input">
            <br><input type="password" placeholder="password" id="password" class="w3-input">
            <br>
            <button class=" font-weight: 700;w3-blue w3-right" id="button">Login</button>
        </div>
    </div>
    <script type="text/javascript" src="assets/javascript.js"></script>
</body>
</html>